node_modules/
.DS_Store
*.log
*.mp3
.idea
haters/
dest/
_dest/
variables.env
variables.env.now
src/css/compiled/
src/js/_compiled/
src/pug/_mixins.pug
src/audio/

.sass-cache/
*.css.map
*.sass.map
*.scss.map
