extends ../layouts/main

block content
  main.main
    //.jarallax
    .background-image.jarallax
    .container.content-wrapper
      h1.page-title Ai Mori - Официальный&nbsp;сайт
      .row
        .col
          h2.content-title.content Подписаться 
          ul.links
            li.links__item
              a(href="https://vk.com/aimori" title="Ai Mori Vkontakte", target="_blank" rel="noopener").links__link.links__link--vk
            li.links__item
              a(href="https://youtube.com/aimori" title="Ai Mori YouTube", target="_blank" rel="noopener").links__link.links__link--youtube
            li.links__item
              a(href="https://www.twitch.tv/ai_mori" title="Ai Mori Twitch", target="_blank" rel="noopener").links__link.links__link--twitch
            li.links__item
              a(href="https://www.tiktok.com/@aimoriai?lang=ru" title="Ai Mori TikTok", target="_blank" rel="noopener").links__link.links__link--tiktok
            li.links__item
              a(href="https://www.instagram.com/ekosistema/" title="Ai Mori Instagram", target="_blank" rel="noopener").links__link.links__link--instagram
            li.links__item
              a(href="https://twitter.com/ola_oran" title="Ai Mori Twitter", target="_blank" rel="noopener").links__link.links__link--twitter


        .col
          h2.content-title.content Слушать
          ul.links
            li.links__item
              a(href="https://open.spotify.com/artist/5Rq2iSNsfHWBZzTu5ez87D?si=Gqx1YoYbTyKGaqUTjSYIIg" title="Ai Mori Spotify", target="_blank" rel="noopener").links__link.links__link--spotify
            li.links__item
              a(href="https://music.apple.com/ru/artist/ai-mori/1304830931?l=ru" title="Ai Mori Apple Music", target="_blank" rel="noopener").links__link.links__link--apple
            li.links__item
              a(href="https://music.yandex.ru/artist/5429719" title="Ai Mori Yandex Music", target="_blank" rel="noopener").links__link.links__link--yandex
            li.links__item
              a(href="https://vk.cc/99AmSj" title="Ai Mori Boom", target="_blank" rel="noopener").links__link.links__link--boom
            li.links__item
              a(href="https://music.apple.com/ru/artist/ai-mori/1304830931?l=ru" title="Ai Mori SoundCloud", target="_blank" rel="noopener").links__link.links__link--soundcloud

        .col
          h2.content-title.content Поддержать меня
          ul.links
            li.links__item
              a(href="https://boosty.to/aimori" title="Ai Mori Boosty", target="_blank" rel="noopener").links__link.links__link--boosty
            li.links__item
              a(href="https://www.donationalerts.com/r/ekosistema" title="Ai Mori Donation alerts", target="_blank" rel="noopener").links__link.links__link--donation

      .section
        h2.content-title.content Музыка
        .player
          .player__inner
            .player__player(id="player")

      .section
        .videos
          h2.content-title.content Видео
          .videos__player
            .videos__background
            .swiper-lazy-preloader.videos__preloader
            .video-container
            .videos__play-overlay
              button(type="button" aria-label="Проиграть видео").videos__play-button
          .videos__container
            .videos__slider.swiper-container
              .swiper-wrapper
            button(type="button" aria-label="Предыдущие видео").swiper-button-prev.videos__button
            button(type="button" aria-label="Следующие видео").swiper-button-next.videos__button
      .section
        h2.content-title.content Контакты
        ul.contacts
          li
            p По вопросам рекламы и сотрудничества - 
              a(href="mailto:boom.svg") aimoriofficial@gmail.com 
