extends ../layouts/main

block content
  main.main
    //.jarallax
    .background-image.jarallax
    .container.content-wrapper
      h1.page-title Ai Mori - Официальный&nbsp;сайт
      .row
        .col
          h2.content-title.content Подписаться 
          ul.links
            li.links__item
              a(href="https://vk.com/aimori" title="Ai Mori Vkontakte", target="_blank" rel="noopener").links__link.links__link--vk
            li.links__item
              a(href="https://youtube.com/aimori" title="Ai Mori YouTube", target="_blank" rel="noopener").links__link.links__link--youtube
            li.links__item
              a(href="https://www.twitch.tv/ai_mori" title="Ai Mori Twitch", target="_blank" rel="noopener").links__link.links__link--twitch
            li.links__item
              a(href="https://www.tiktok.com/@aimoriai?lang=ru" title="Ai Mori TikTok", target="_blank" rel="noopener").links__link.links__link--tiktok
            li.links__item
              a(href="https://www.instagram.com/ekosistema/" title="Ai Mori Instagram", target="_blank" rel="noopener").links__link.links__link--instagram
            li.links__item
              a(href="https://twitter.com/ola_oran" title="Ai Mori Twitter", target="_blank" rel="noopener").links__link.links__link--twitter


        .col
          h2.content-title.content Слушать
          ul.links
            li.links__item
              a(href="https://open.spotify.com/artist/5Rq2iSNsfHWBZzTu5ez87D?si=Gqx1YoYbTyKGaqUTjSYIIg" title="Ai Mori Spotify", target="_blank" rel="noopener").links__link.links__link--spotify
            li.links__item
              a(href="https://music.apple.com/ru/artist/ai-mori/1304830931?l=ru" title="Ai Mori Apple Music", target="_blank" rel="noopener").links__link.links__link--apple
            li.links__item
              a(href="https://music.yandex.ru/artist/5429719" title="Ai Mori Yandex Music", target="_blank" rel="noopener").links__link.links__link--yandex
            li.links__item
              a(href="https://vk.cc/99AmSj" title="Ai Mori Boom", target="_blank" rel="noopener").links__link.links__link--boom
            li.links__item
              a(href="https://soundcloud.com/aimori_official" title="Ai Mori SoundCloud", target="_blank" rel="noopener").links__link.links__link--soundcloud

        .col
          h2.content-title.content Поддержать меня
          ul.links
            li.links__item
              a(href="https://boosty.to/aimori" title="Ai Mori Boosty", target="_blank" rel="noopener").links__link.links__link--boosty
            li.links__item
              a(href="https://www.donationalerts.com/r/ekosistema" title="Ai Mori Donation alerts", target="_blank" rel="noopener").links__link.links__link--donation

      .section
        .videos
          h2.content-title.content Пластилин (Music video)
          .videos__player
            .videos__background
            .video-container
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KrrsTay_2G0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
      .section
        .player
          .player__inner
            h2.content-title.content Авторская музыка
            .player__player(id="self")
            .player__link.link
              span Скачать любую песню можно нажав значок 
              span <svg width="15" height="15" viewBox="0 0 20 20"><g fill-rule="nonzero" transform="translate(1, 1)"><path d="M9.95921636,0 L11.0734352,2.42298075 L12.084278,2.97683675 L14.5654263,1.86912475 L16.0013553,3.35766689 L15.1972647,5.84141709 L15.4154756,6.83068435 L17.8737063,7.7883911 L18,9.84229954 L15.5533514,10.8000063 L15.0708477,11.8384089 L16.0816905,14.3422093 L14.6566042,15.8135479 L12.1531543,14.7692045 L11.0274766,15.2422408 L10.0855101,17.60767 L8.06382454,17.7 L6.98410547,15.2884058 L5.8124692,14.7807148 L3.44615574,15.8537721 L1.96426811,14.4345393 L2.92927551,11.8845739 L2.36631345,10.8230269 L0,9.89997483 L0.0230409069,7.82304578 L2.44677181,6.84231842 L2.94073435,5.84141709 L1.88393297,3.35766689 L3.33132085,1.89226913 L5.86988664,2.89614086 L6.97264662,2.4807798 L7.9375308,0.0460412136 L9.95921636,0 Z M8.84993873,6 C7.27603345,6 6,7.27601328 6,8.84993974 C6,10.4239867 7.27603345,11.7 8.84993873,11.7 C10.4239666,11.7 11.7,10.4239867 11.7,8.84993974 C11.7,7.27601328 10.4239666,6 8.84993873,6 Z" fill="#ffffff" style="fill: rgb(254, 193, 99);"></path></g></svg> 
              span в углу плеера или по 
              a(href="https://yadi.sk/d/yi-Vu6NkKg_4fg" target="_blank") ссылке

          .player__inner
            h2.content-title.content Кавера
            .player__player(id="covers")
            .player__link.link
              span Скачать любую песню можно нажав значок 
              span <svg width="15" height="15" viewBox="0 0 20 20"><g fill-rule="nonzero" transform="translate(1, 1)"><path d="M9.95921636,0 L11.0734352,2.42298075 L12.084278,2.97683675 L14.5654263,1.86912475 L16.0013553,3.35766689 L15.1972647,5.84141709 L15.4154756,6.83068435 L17.8737063,7.7883911 L18,9.84229954 L15.5533514,10.8000063 L15.0708477,11.8384089 L16.0816905,14.3422093 L14.6566042,15.8135479 L12.1531543,14.7692045 L11.0274766,15.2422408 L10.0855101,17.60767 L8.06382454,17.7 L6.98410547,15.2884058 L5.8124692,14.7807148 L3.44615574,15.8537721 L1.96426811,14.4345393 L2.92927551,11.8845739 L2.36631345,10.8230269 L0,9.89997483 L0.0230409069,7.82304578 L2.44677181,6.84231842 L2.94073435,5.84141709 L1.88393297,3.35766689 L3.33132085,1.89226913 L5.86988664,2.89614086 L6.97264662,2.4807798 L7.9375308,0.0460412136 L9.95921636,0 Z M8.84993873,6 C7.27603345,6 6,7.27601328 6,8.84993974 C6,10.4239867 7.27603345,11.7 8.84993873,11.7 C10.4239666,11.7 11.7,10.4239867 11.7,8.84993974 C11.7,7.27601328 10.4239666,6 8.84993873,6 Z" fill="#ffffff" style="fill: rgb(254, 193, 99);"></path></g></svg> 
              span в углу плеера или по 
              a(href="https://yadi.sk/d/RmNXHF9WKcbPjA" target="_blank") ссылке

      .section
        .videos.videos--covers
          h2.content-title.content Кавер-версии
          .videos__player
            .videos__background
            .swiper-lazy-preloader.videos__preloader
            .video-container
            .videos__play-overlay
              button(type="button" aria-label="Проиграть видео").videos__play-button
          .videos__container
            .videos__slider.swiper-container
              .swiper-wrapper
            button(type="button" aria-label="Предыдущие видео").swiper-button-prev.videos__button
            button(type="button" aria-label="Следующие видео").swiper-button-next.videos__button
      .section
        h2.content-title.content Контакты
        ul.contacts
          li
            p По вопросам рекламы и сотрудничества - 
              a(href="mailto:aimori@adisom.com") aimori@adisom.com 
